<div class="body-wrapper">
    <div class="logo_container"><img src="assets/Survey-1.jpg" alt="urvey logo" style="width: 30%;"></div>
    <div class="center_content">
        <h1>The answer to your questions!</h1>
        <p style="margin-bottom: 50px;">Survey is a Angular based Web-Application developed by Me
            that allows anyone to create their own surveys and have controll over their answers. This powerful
            tool delivers a complete survey and user management system .</p>
        <h2 style="margin-bottom: 30px;">Get to know Me</h2>
        <div class="team_container center">
            <img src="assets/my.jpeg" alt="Milan Khunt" class="team_img">
            <h4 class="team_title">Full Stack Developer</h4>
            <p class="team_text">Milankumar Khunt</p>
        </div>
    </div>
</div>